.Container {
    display: flex;
    gap: 150px;
    width: 1205px;
    margin-right: auto;
}

@media (max-width: 768px) {
    .Container {
        max-width: 400px;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
}

.Container>img {
    margin-top: 60px;
}

.Container form {
    padding: 10px;
    width: 370px;
    margin: auto 0;
}

.Container h1 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-size: 36px;
    line-height: 30px;
}
.Container input {
    font-size: 16px;
    line-height: 24px;
    color:#000;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    background: white;
    width: 350px;
    margin: 10px 0;
}
.Container .create {
    color: white;
    background: #DB4444;
    padding: 16px 122px;
    width: 371px;
    font-size: 36px;
    line-height: 30px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.Container .signUp  {
    color: #000;
    border: 1px solid black;
    border-radius: 4px;
    padding: 16px 122px;
    width: 371px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    outline: none;
    background-color: white;
}

.signUp p {
    margin: 0;
}

.Container p {
    font-size: 16px;
    line-height: 24px;
}
.Container button  {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logIn {
    text-align: center;
    margin-top: 30px;
}

p a span {
    color: #000;
    border-bottom: 1px solid black;
}